.footer-content {
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    margin: 0rem 3rem;
    border-top: 1px solid rgba(56, 189, 248, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links {
    color: var(--text-link);
    text-decoration: none;
}

.footer-links:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}

.social-links a {
    margin-right: 1rem;
    color: var(--text-link);
    text-decoration: none;
}

.social-links a:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}